<h1><%= @task.title %></h1>
<form action="/tasks/<%= @task.id %>/edit" method="get" data-turbo="false">
  <input type="submit" value="Edit task">
</form>
<p><%= @task.details %></p>
<a href="/tasks" style="text-decoration: none">Back to list</a>
